{% extends 'base.html' %}
{% block content %}
<div class="home" style="background-image: url('https://picsum.photos/1900/1267?grayscale'); margin-top: 40px;">
    <div class="container >
      
      <div class="image">
        <img
      </div>
        <div class="row">
<!--            random quote-->
            <div class="col-md-6 quote-container">
                <div class="card quote-card">
                  <div class="card-header">
                    Random Quote
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>{{quote.quote}}</p>
                      <footer class="blockquote-footer"><cite title="Source Title">{{quote.author}}</cite></footer>
                    </blockquote>
                  </div>
                </div>
            </div>
<!--            post blog-->
            <div class="col-md-6 blog-container">
              <div class="blog-cont">
                <h1>Post your Blog here!</h1>
                <p>What's on your mind?</p>
                <p>Blog on!!!!</p>
               <a href="{{url_for("main.new_blog")}}"><button class="btn btn-secondary btn1">Blog</button></a>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}