{% extends 'base.html'%}
{%block content%}
<header class="showcase" style="background image:url('https://cdn.pixabay.com/photo/2016/11/23/00/58/record-player-1851576_960_720.jpg')">
    <div class="container">
        <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i class="fas fa-quote-right"></i></span>
          <h2>{{quote.author}}</h2>
    </div>

</header>

<h1 class="mb"> Posted by {{username}} ({{posts.total}})</h1>
{% for blog in blog.items %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + blog.author.image_file) }}">
         <div class="media-body">
            <div class="article-metadata">
              <a href="{{ url_for('users.user_blog', username=blog.author.username) }}">{{ blog.author.username }}</a>
              <small class="text-muted">{{ blog.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('blogs.blog', blog_id=blog.id) }}">{{ blog.title }}</a></h2>
            <p class="article-content">{{ blog.content }}</p>
        </div>
    </article>
{%endfor%}    







